# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# dbt
dbt_packages/
target/

# Terraform
.terraform/
*.tfstate

# Environment files
.env

# OS
Thumbs.db

# data files
data/

# PBI files
*.pbix

.venv/
venv/

# dbt
target/
dbt_packages/
logs/

# Secrets and config files
secrets/
*.json
dbt/profiles/.user.yml